header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
   }
h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #A9B0B7; 
    font-size: 25px;
   }
body {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #000000; 
    font-size: 25px;
   }
#content {
    padding:3px;
}
#p {
    padding:3px;
}
#h1 {
    padding:3px;
}
#header {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}